.logo {
    width: 50px;
    height: 50px;
    background-image: url('/src/assets/Logo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    background-color: var(--main-color);
}
.navbar-brand {
    flex-grow: 1;
}
.nav-links {
    flex-grow: 5 !important;
}


.navbar a {
    color: var(--text-light-color);
}
.navbar a:hover {
    color: var(--text-hover-color);
}
.navbar a.active {
    color: var(--text-light-color)!important;
    cursor: default;
    border: 1px solid var(--text-light-color);
    border-radius: 2px;
}
